<div class="form-container">
	<h2>Add Category</h2>
	<form action="/create/category" method="POST" enctype="multipart/form-data">
		<label>Category Name: </label>
		<input type="text" name="category_name" />
		<label>Description: </label>
		<textarea type="text" name="description" id="description"></textarea>
		<input type="submit" value="Submit" />
	</form>
</div>
